<launch>
	<!-- vim: set ft=xml noet : -->
  	<arg name="razor_config_file" default="$(find nautonomous_sensor_imu)/config/razor.yaml"/>
	<node pkg="nautonomous_sensor_imu" type="imu_node.py" name="imu_node" output="screen">
			
				<!-- Inputs -->
					
				<!-- Parameters -->
				<rosparam file="$(arg razor_config_file)" command="load"/>
					
				<!-- Outputs -->
				<remap from="imu" to="/imu/razor" />

		</node>
</launch>
